/*!/////////////////////////////////////
//  			SITE MAIN STYLESHEET        //
//////////////////////////////////////*/



/*** <--- IMPORTS ---> ***/
@import "var-mixin.less";



/*** <--- GENERAL ---> ***/

body{
	background-color: @back-col;
	color: @font-col;
	font-size: 16px;
	font-family: @font-fam;
}

a{
	.link-apparence();
}




/*** <--- LAYOUT-LABEL-HERE ---> ***/







/*** <--- RESPONSIVE ---> ***/








//1200px
@media only screen and (max-width: 1200px){}

//1024px
@media only screen and (max-width: 1024px){

	//MOBILE MAIN MENU WITH CLICKABLE PARENT ON DROPDOWN MENU
	.navbar .menu-item-has-children .dropdown-menu.drop-active{
		display: block !important;
	}

}

//992px
@media only screen and (max-width: 992px){}

//768px
@media only screen and (max-width: 768px){}

//480px
@media only screen and (max-width: 480px){}
