/*** FRAMEWORK BASE STYLES ***/


* { margin: 0; padding: 0; }
body { background: @white; }
.screen-reader-text { position: absolute; left: -9999px; top: -9999px; }
.clear { clear: both; }
.group:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
* html .group, *:first-child+html .group { zoom: 1; } /* First selector = IE6, Second Selector = IE 7 */

.alltrans{-webkit-transition: all .5s ease-in-out; -moz-transition: all .5s ease-in-out; -o-transition: all .5s ease-in-out; transition: all .5s ease-in-out;}

/****** Color ******/

@gray_dark:#333;
@gray:#666;
@gray_light:#f2f2f2;
@tooltip_back:rgba(0,0,20,.9);
@white:#fff;
@gray_txt:#9d9d9c;
@red:#b60526;
@black:#000;


/****** Row Width ****/

.row { max-width: 1360px; }

/******* Text ********/
/********************/

//.default{font-family: 'Source Sans Pro', sans-serif !important;}

h1, h2, h3 { font-weight: normal; margin: 0 0 10px 0;
	//.default;
}

p { margin: 0 0 10px 0;
	//.default;
}
li{ font-size: .8rem; }
a {opacity:1;
	//.default;
	.alltrans;
	&:hover{opacity:.7;}
}


blockquote, blockquote p {
	//.default;
}

ul, ol { margin: 0 0 10px 0; }


/******* Search Form ********/
/***************************/

#searchsubmit{ margin: 0; padding: 0;
	&:before{ font-family: FontAwesome; content: "\f002"; display:block;}
}
#s{ padding-left: 1em;
	//.default;
	.placeholder (0px; fade(@gray,40%); 1em; 100;)
}

/******* Breadcrumbs ********/
/***************************/
.breadcrumbs {
	&> *:before { color: transparent; margin: 0; }
	li{
		//.default;
	}
}

/******* Sidebar ************/
/***************************/
#sidebar{display:block; overflow:hidden;
 li { font-size: 0.875rem; font-weight: normal; margin: 0; line-height: 1em; font-size: .8em; font-weight: 100; }
}
.widget{ background: fade(@white , 50%); padding: 1em; margin-bottom: 2em !important;}
/******* Breadcrumbs ********/
/***************************/

#breadcrumbs{
	a{color:@gray_dark; text-decoration: none;
		&:hover{color:@gray; text-decoration: none;}
	}
	.item-current{
		strong{color: @gray;}
	}
}

/******* Post preview ********/
/***************************/
.post{padding: 1em; background: rgba(255,255,255,.9); margin-bottom: 2em;
	.meta{border-width:0px; padding: .5em;
	    h6{line-height: 1; font-size: .9em; color:@gray_dark; padding-bottom: 0px; margin-bottom: 2px;
			em{color:fade(@gray_dark, 50%); font-size: 1.2em; margin-left: 1em; margin-right: .4em;}
		}
		.comments_btn{color:fade(@gray_dark, 50%); font-size: 1.5em; padding: 0px; background-color: transparent; border: 0px; margin-right: .5em; margin-bottom: 0px;
			span:after{border:0px; width: 1.2em !important;}
		}
		.split.button.tiny span { width: 1.2em; border-left:0px;}

		.f-open-dropdown{ position: absolute; left: 53.4219px; top: 24px; padding: .5em; font-style: italic; font-size: .7em;
			p{padding-bottom:0px; color:@gray; margin-bottom:0px;}
		}
	}
	header{
		h2{font-size:1.5em;}
		h1{ margin-bottom: 0; padding-bottom: 1em; font-size: 1.7em; color:@gray_dark;}
	}

	.entry{ padding-left: 1em; padding-right: 1em; display: block; overflow: hidden; }

	footer{ width: 100%; border-top: 1px solid #f0f0f0; padding-top: 1em; font-size: .9em; color:@gray_dark; margin-top:1em;
		.fa{color:fade(@gray_dark, 50%); font-size: 1.2em; margin-left: 1em; margin-right: .4em;}
		a{ color:@gray_dark; }
	}
}

.share_nav{ margin-top: 4em; border-top: 1px solid #ccc; padding-top: 2em; padding-bottom: 2em; border-bottom: 1px solid #ccc;
	i{font-size:1.3em; color:fade(@gray_dark, 50%);}
	label{ font-size: .7em !important; font-weight: 100;}
	.icon-bar{ background-color:@gray_light;}
}

.single{
	.post{
		header{ margin-bottom: 4em;}
		footer{ display: block; overflow: hidden; background-color:@gray_light; border-top:0px; padding-top: .5em; padding-bottom: .5em; margin-top: 6em; margin-bottom: 7em;}
	}
}

.categories_nav{ margin-top: 1em; margin-bottom: 1em;
	a{ background: fade(@white, 90%); padding: .5em; margin: .4em; text-transform: lowercase; color:fade(@gray_dark, 50%);;
	}
}

.comment{ display: block; overflow: hidden; background-color: fade(@white, 90%); margin-bottom: 1em; padding: .5em;
	.comment-author{position:absolute;}
	.comment-meta{border: 0px; padding: .7em; text-align: right; color: #ccc;
		a{color:fade(@gray_dark, 50%);}
		.fn{ float: left; padding-left: 4em; }
	}

	.vcard { border: 4px solid fade(@white, 90%); border-radius: 33px; max-width: 5em; height: 5em;display: block; overflow: hidden; margin-left: -1.2em; margin-top: -1.1em; background-color: #ccc; }
	.comment_contents{ padding-left: 4.5em; }

}

#respond{padding-top:2em;}
.comment_wrp{ padding-top:6em; }

/* CSS Only Tooltip */


/* Numeric Navigation */

/* POST - PAGE */

#page_wrap{padding-top:2em;}
