/**
 * VARIABLES
 */

// Colors
@back-col: #fff;
@font-col: #666;
@main-col: #f60;

// Fonts
@font-fam: 'Titillium Web', sans-serif;

  




/**
 * MIXIN LIBRARY
 */

//Link Apparence
.link-apparence(@color: @main-col; @decoration: none; @hoverdeco: none){
  color: @color;
  text-decoration: @decoration;
  -webkit-transition: color 0.4s;
  -o-transition: color 0.4s;
  transition: color 0.4s;
  outline: none !important;
  &:hover{
    color: #000;
    text-decoration: @hoverdeco;
  }
}

//Placeholder Style
.placeholder (@border;@color;@font_size;@font-weight;){
  &::-webkit-input-placeholder { border: @border; color:@color; font-size: @font_size; font-weight:@font-weight; }
  &::-moz-placeholder { border: @border; color:@color; font-size: @font_size; font-weight:@font-weight; }
  &:-ms-input-placeholder { border: @border; color:@color; font-size: @font_size; font-weight:@font-weight; }
  &:-moz-placeholder { border: @border; color:@color; font-size: @font_size; font-weight:@font-weight; }
}
